<div class="banner banner-high" id="banner-home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner-logo">
          <%= image_tag "logo.png", id: "logo-banner" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="banner-tag">
          <h1>The best place to discover and share cocktail recipes</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <%= link_to t(".top_call_to_action", default: "Share a cocktail"), new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn unmarged" %>
      </div>
    </div>
  </div>
</div>
