<% if item.photo? %>
  <% image_url = 'cl_image_path @item.photo.path, height: 200, width: 400, crop: :fill' %>
<% else %>
  <% image_url = "http://lorempixel.com/400/200/abstract/#{rand(1..10)}" %>
<% end %>

<div class="cocktail-image-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
url('<%= cl_image_path item.photo.path, height: 200, width: 400, crop: :fill %>');">
  <%#= simple_form_for item do |f|%>
    <label>
      <div class="drop-image">
        <%#= image_tag 'edit3', class: "image-cocktail-edit"%>
      </div>
      <%#= f.input :photos, as: :attachinary, label: false %>
    </label>
    <%#= f.submit "Change image", class: "btn btn-danger"%>
  <%# end %>
</div>
