<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/200/abstract/<%= (1..10).to_a.sample %>');">
  <div class="card-description">
      <h2><%= item.name %></h2>
  </div>
</div>
