<%= simple_form_for @cocktail, class: "form-inline" do |f|%>
  <%= f.input :name %>
  <label>
    <div class="drop-image">
      Upload an image
    </div>
    <%= f.input :photo, as: :attachinary, label: false %>
  </label>
  <%= f.submit "Add a cocktail", class: "btn btn-danger", :wrapper => :nested %>
<% end %>
