.banner {
  color: white;
  text-align: center;
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-home {
  min-height: 500px;
}

#banner-fixed {
  background-image: image-url('background.jpeg');
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -3;
}

#banner-show {
  min-height: 300px;
}
.banner-high {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

#logo-banner {
  max-width: 300px;
  width: 100%;
}

.banner-tag {
  margin-bottom: 20px;
  h1 {
    font-size: 44px;
  }
}
@media (max-width: 1024px) {
  .banner-high {
    padding: 50px;
  }
  .banner-tag {
    h1 {
    font-size: 32px;
    }
  }
}

