.ingredient-dose {
  color: $light-gray;
  font-size: 14px;
}

select:not([multiple]){
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position:right 50%;
    background-repeat: no-repeat;
    padding: .5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

#mySelect {
    border-radius: 20px
    ;
}
